
services:
  postgres:
    image: postgres:latest
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=payment
    volumes:
      - postgres-payment-data:/var/lib/postgresql/data
  
  api:
    build:
      context: .
      target: runner
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    command: >
      sh -c "
        echo 'Running migrations...' &&
        npx drizzle-kit migrate --config=./drizzle.config.ts &&
        echo 'Starting application...' &&
        npm run start
      "

volumes:
  postgres-payment-data: